.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.container 
{
    width:600px;
    margin:34px auto -34px;
    border: 3px solid #E9BF7B ;
}
.head .title h1
{
    text-align: center;
    font-weight: bold;
    font-size: 43px;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    padding:16px 0 0 0;
    color:white;
}
.head .title
{
    background-color: #E9BF7B;
    height:83px;
    margin: -29px 0 0 0;
}

form .email .clear
{
    clear:both;

}
.username, .email, .pass, .lastname, .firstname, .address, .phone, .postcode, .city
{
    display: flex;
    flex-direction: column;
    margin:12px 0 13px 20px;
    padding:12px 0 0 0;
}
.email label,
.username label,
.pass label,
.lastname label,
.firstname label,
.phone label,
.address label,
.postcode label,
.city label
{
    text-transform: capitalize;
    font-weight:bold;
    font-family: Arial, Helvetica, sans-serif;
    color:#E9BF7B;
}
.email input,
.username input,
.pass input,
.lastname input,
.firstname input,
.phone input,
.address input,
.postcode input,
.city input
{
    width:90%;
    height:33px;
    margin: 11px 0 3px 0;
    text-transform: capitalize;
    padding: 0 0 0 10px;
    background-color: #D8D8D8;
    border: none;
}
.submit
{
    margin:0 0 0 19px;
}
.submit input[type="submit"]
{
    background-color:#E9BF7B;
    color:white;
    font-weight: bold;
    margin:0 0 20px 0;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 25px;
    font-size: 20px;
    text-transform: capitalize;
    width:160px;
    height:33px;
    text-align:center;
    padding:4px 10px 2px 10px;
}
.submit input[type="submit"]:hover
{
    background-color:#D8D8D8;
}

.submit-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.delete
{
    margin:0 0 0 19px;
}
.delete input[type="submit"]
{
    background-color: red;
    color: white;
    font-weight: bold;
    margin: 0 0 20px 0;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 25px;
    font-size: 20px;
    text-transform: capitalize;
    width: 200px;
    height: 33px;
    text-align: center;
    padding: 4px 10px 2px 10px;
}
.delete input[type="submit"]:hover
{
    background-color:#D8D8D8;
}
#messages {
    text-align: center;
}
form
{
    margin:-12px 0 0 0px;
    background-color: white;
}