<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bubble Tea Fantaisie</title>
    <link rel="stylesheet" href="acceuil.css">
</head>

<body>
    <!DOCTYPE html>
    <html>

    <head>
        <title>Barre de Navigation</title>
    </head>

    <body>
        <div class="navbar">
            <a href="http://localhost:3000/shop">Shop</a>
            <a href="{% url 'delivery' %}">Information </a>
            <a href="#logout">Logout</a>
        </div>

    </body>

    </html>

    <header>
        <h1>Bubble Tea Fantaisie</h1>
    </header>
    <main>
        <section class="hero">
            <img src="Hbib_tea__1_-removebg-preview.png" alt="Délicieux Bubble Tea">
            <div class="hero-text">
                <h2>Bienvenue chez Bubble My Tea!</h2>
                <p>Dégustez nos savoureux bubble teas de iman , préparés avec amour Yassine et son commis aboubacar .
                </p>
            </div>
        </section>
    </main>
    <footer>
        <p>Notre instagram
            <link rel="stylesheet"
                href="https://www.instagram.com/bubblebaecoffee?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==">
        </p>
    </footer>
</body>

</html>