{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/global.css">
    <title>Delivery</title>
</head>

<body>

    <div class="wrapper">
        <div class="content">
            <div class="head">
                <div class="container">
                    <div class="title">
                        <h1>Delivery Information</h1>
                    </div>
                </div>
            </div>
            <div class="container">
                <form method="POST" action="{% url 'delivery' %}">
                    {% csrf_token %}
                    <div class="lastname">
                        <label for="lastname">lastname</label>
                        <input type="text" placeholder="Enter lastname" name="lastname" id="lastname" required>
                    </div>
                    <div class="firstname">
                        <label for="firstname">firstname</label>
                        <input type="text" placeholder="Enter firstname" name="firstname" id="firstname" required>
                    </div>
                    <div class="phone">
                        <label for="phone">phone</label>
                        <input type="text" placeholder="Enter phone" name="phone" id="phone" required>
                    </div>
                    <div class="address">
                        <label for="address">address</label>
                        <input type="text" placeholder="Enter address" name="address" id="address" required>
                    </div>
                    <div class="postcode">
                        <label for="postcode">postcode</label>
                        <input type="text" placeholder="Enter postcode" name="postcode" id="postcode" required>
                    </div>
                    <div class="city">
                        <label for="city">city</label>
                        <input type="text" placeholder="Enter city" name="city" id="city" required>
                    </div>
                    <div class="submit">
                        <input type="submit" value="Submit">
                    </div>
                    {% for message in messages %}
                    <p id="messages">{{ message }}</p>
                    {% endfor %}
                </form>
            </div>
        </div>
    </div>
</body>

</html>