{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/register.css">
    <title>Register</title>
</head>

<body>
    <!-- <h1>This is a Register Page</h1> -->

    <div class="head">
        <div class="container">
            <div class="title">
                <h1>sign up</h1>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="container">
            <form method="POST" action="{% url 'register' %}">
                {% csrf_token %}

                <div class="username">
                    <label for="username">username</label>
                    <input type="text" placeholder="Enter username" name="username" id="username" required>
                </div>
                <div class="email">
                    <label for="email">email</label>
                    <input type="email" placeholder="Enter Email" name="email" id="email" required>
                </div>
                <div class="pass">
                    <label for="password">password</label>
                    <input type="password" placeholder="Enter password" name="password" id="password" required>
                </div>
                <div class="submit">
                    <input type="submit" value="Sign up">
                </div>
                {% for message in messages %}
                <p id="messages">{{message}}</p>
                {% endfor %}
            </form>
            <span class="got-account"><a href="{% url 'login' %}">got no account ?</a></span>
        </div>
    </div>
</body>

</html>